<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tables</title>
    <link
      rel="icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gilda+Display:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link href="../css/base.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/home.css" rel="stylesheet" />
    <link href="../css/student.css" rel="stylesheet" />
    
</head>


<body>
  <div class="home-container">
    <header data-thq="thq-navbar" class="home-navbar-interactive">
      <div class="home-container01">
        <a href="{% url 'testapp:home' %}"
          ><img
            src="../images/header-logo.png"
            alt="logo"
            class="main_logo"
        /></a>
      </div>
      <div data-thq="thq-navbar-nav" data-role="Nav" class="home-desktop-menu">
        <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="home-nav">
          <a href="#about" class="home-link">Student</a>
          <a href="#features" class="home-link">Teacher</a>
          <a href="#process" class="home-link">Schedule</a>
          <a href="#members" class="home-link">Camera</a>
        </nav>
      </div>
      <div class="profile">
        <ul>
          <li class="dropdown">
            <ul>
              <a href="#">
                <img src="../images/profile-pic.jpg" alt="Profile Picture">
              </a>
              <a href="">UserName</a>
            </ul>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Need Help?</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div data-thq="thq-burger-menu" class="home-burger-menu">
        <svg viewBox="0 0 1024 1024" class="home-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="home-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
          <div class="home-container02">
            <a href="{% url 'testapp:home' %}"
              ><img
                src="../images/header-logo.png"
                alt="logo"
                class="main_logo"
            /></a>
            <div data-thq="thq-close-menu" class="home-menu-close">
              <svg viewBox="0 0 1024 1024" class="home-icon02">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="home-nav2"
          >
            <a href="#about" class="home-link05">About</a>
            <a href="#features" class="home-link06">Features</a>
            <a href="#process" class="home-link07">Workflow</a>
            <a href="#members" class="home-link08">Team</a>
            <a href="#contact" class="home-link09">Contact</a>
          </nav>
          <div class="home-container03">

            <button class="home-login1 button" onclick="openModal2()">Log in</button>
    
            <button class="home-register1 button" onclick="openModal()">Register</button>
          </div>
        </div>
      </div>
    </header>
    
    <div class="main-container">
      <div class="main-part1">
          <div class="part1-content">
            <select name="department" id="" disabled>
              <option value="cse">Computer Science and Engineering</option>
            </select>
          </div>
          <div class="part1-content">
            <label for="room">Room No. - </label>
            <select name="room_no" id="room">
              <option value="101">101</option>
              <option value="102">102</option>
              <option value="103">103</option>
              <option value="103">104</option>
            </select>
          </div>
          <div class="part1-content">
            <select class="" id="" name="year">
              <option value="1">First year</option>
              <option value="2">Second year</option>
              <option value="3">Third year</option>
              <option value="4">Final year</option>
            </select>
          </div>
          <div class="part1-content">
            <label for="fileInput" class="custom-file-upload" title="Class Time Table">
              <!-- Custom button or icon goes here -->
              Upload
          </label>
          <input id="fileInput" type="file" accept=".xlsx, .xls, .csv" onchange="handleFileSelect(event)"
              style="display: none;">
          </div>
      </div>
      <div class="main-part2">
        <div class="time_head">
          <div class="tabletitle">
            <h2>
              Time Table
            </h2>
          </div>
        </div>
        <div class="part2-content">
          <table>
            <thead>
              <tr>
                <th class="ttcol1">Day</th>
                <th class="ttcol">9-10</th>
                <th class="ttcol">10-11</th>
                <th class="ttcol">11-12</th>
                <th class="ttcol">12-1</th>
                <th class="ttcol">1-2</th>
                <th class="ttcol">2-3</th>
                <th class="ttcol">3-4</th>
                <th class="ttcol">4-5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Monday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Tuesday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Wednesday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Thursday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Friday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Saturday</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
             
          </tbody>
          </table>
        </div>
        <div class="bfield">
          <button id="tt_edt" class="comman_btn">Edit</button>
          <span id="page-info"></span>
          <button id="tt_sbmt" class="comman_btn">Submit</button>
      </div>
      </div>
    </div>

    <div id="myModal3" class="modal3">
      <div class="modal-content3" id="content3">
        <div class="popup3">
          <span class="close3" id="cbtn3">&times;</span>
          <div class="popup_title3">
            Register Student Face
          </div>
          <div class="popup_body3">
            <div class="capture-window">
              <div id="video1"><video id="video"></video></div>
              <div id="canvas1"><canvas id="canvas"></canvas></div>
              
            </div>
            <div class="takebtn">
              <button id="capture-btn">Capture</button>
              <button id="retake-btn">Retake</button>
            </div>
          </div>
          <button id="save-btn">Save</button>
          <div class="popup_inst">
            <h2>Instructions:-</h2>
            <ul>
              <li>Ensure that you have a stable internet connection and a webcam or a front-facing camera on your device.</li>
              <li>Position student face in center of designated area on the screen and hold still while the camera captures several images of your face from different angles.</li>
              <li>Once you have captured the required images, the system will analyze and process them to create a digital representation of your face. This representation will be used to match your face with the images captured during attendance recording.</li>
  
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
</body>
<script src="../js/popup.js"></script>
<script>
  function handleFileSelect(event) {
      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
          const file = files[i];
          if (file.type === 'application/vnd.ms-excel' || file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
              // Handle the selected Excel file(s) here
              console.log('Selected file:', file.name);
          } else {
              alert('Please select an Excel file');
          }
      }
  }
</script>
</html>