.main_logo{
  width: auto;
  height: 52px;
}

.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e4d4c8;
}
.home-navbar-interactive {
  color: #201a1e;
  width: 100%;
  height: 60px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e6e7;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-navlink {
  font-size: 24px;
  font-family: Gilda Display;
  text-transform: uppercase;
  text-decoration: none;
}
.home-desktop-menu {
  margin: 0 0 0 5vw;
  display: flex;
  justify-content: center;
  width: 400px;
}
.home-nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.home-link {
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  padding: 3px 0;
  border-bottom: 3px solid transparent;
}
.home-link:hover {
  border-bottom: 3px solid rgb(228, 212, 200);
}
.home-link01 {
  font-style: normal;
  font-weight: 600;
  /* margin-left: var(--dl-space-space-twounits); */
  text-decoration: none;
  margin: 0 10px;
  padding: 3px 0;
}
.home-link02 {
  font-style: normal;
  font-weight: 600;
  /* margin-left: var(--dl-space-space-twounits); */
  text-decoration: none;
  margin: 0 10px;
  padding: 3px 0;

}
.home-link03 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link04 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width:170px;
}
.home-login {
  font-style: normal;
  font-weight: 500;
  border-color: #201a1e;
  border-style: solid;
  border-width: 0.5px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-login:hover{
  background-color: rgba(228, 212, 200,0.5);
}

.home-register {
  font-style: normal;
  font-weight: 500;
  border-color: #201a1e;
  border-style: solid;
  border-width: 0.5px;
  text-decoration: none;
}
.home-register:hover{
  background-color: rgba(228, 212, 200,0.5);
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e2e6e7;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-navlink1 {
  font-size: 24px;
  font-family: Gilda Display;
  text-transform: uppercase;
  text-decoration: none;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login1 {
  font-style: normal;
  font-weight: 500;
  border-color: #201a1e;
  border-style: solid;
  border-width: 0.5px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #e4d4c8;
}
.home-register1 {
  font-style: normal;
  font-weight: 500;
  border-color: #201a1e;
  border-style: solid;
  border-width: 0.5px;
  text-decoration: none;
  background-color: rgb(228, 212, 200);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-separator {
  width: 100%;
  height: 1px;
  opacity: 0.9;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #201a1e;
}
.home-hero {
  width: 100%;
  height: 720px;
  display: flex;
  opacity: 1;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  margin-right: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGxhbXAlMjBtaW5pbWFsaXNtfGVufDB8fHx8MTYyNjE2NDMxOA&ixlib=rb-1.2.1&w=1500');
  background-position: bottom;
}
.home-container04 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #201a1e;
  font-size: 3rem;
  max-width: 25rem;
}
.home-text01 {
  color: #201a1e;
  font-size: 1.15rem;
  max-width: 60%;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-button {
  color: #e2e6e7;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(32, 26, 30);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #e2e6e7 0%, #e4d4c8 100%);
}
.home-text08 {
  color: rgb(32, 26, 30);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #e4d4c8 0%, #d0b49f 100%);
}
.home-text09 {
  color: #201a1e;
  font-size: 3rem;
  align-self: center;
}
.home-text11 {
  color: #201a1e;
  font-size: 1.15rem;
  max-width: 600px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container08 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon10 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container09 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon12 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container12 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container14 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon14 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container15 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon17 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #201a1e;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container18 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text29 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text31 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #d0b49f 0%, #e4d4c8 100%);
}
.home-text34 {
  color: rgb(32, 26, 30);
  font-size: 3rem;
  align-self: center;
}
.home-text35 {
  color: #201a1e;
  font-size: 1.15rem;
  max-width: 600px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container20 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-container21 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container22 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-container23 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container24 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 18px;
}
.home-image {
  flex: 1;
  height: 160px;
  align-self: center;
  object-fit: cover;
}
.home-container25 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.home-text38 {
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text41 {
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  padding-top: 0px;
}
.home-container26 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container27 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-container28 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container29 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 18px;
}
.home-image1 {
  flex: 1;
  width: auto;
  align-self: center;
  object-fit: cover;
}
.home-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.home-text42 {
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text45 {
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  padding-top: 0px;
}
.home-container31 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container32 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-container33 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container34 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 18px;
}
.home-image2 {
  flex: 1;
  width: auto;
  align-self: center;
  object-fit: cover;
}
.home-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.home-text46 {
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text49 {
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  padding-top: 0px;
}
.home-container36 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container37 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-container38 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container39 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 18px;
}
.home-image3 {
  flex: 1;
  width: auto;
  align-self: center;
  object-fit: cover;
}
.home-container40 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.home-text50 {
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text53 {
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  padding-top: 0px;
}
.home-footer {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #e4d4c8 0%, #e2e6e7 100%);
}
.home-container41 {
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container42 {
  width: 33%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text54 {
  color: #201a1e;
  font-size: 24px;
  align-self: center;
  font-weight: 700;
  margin-bottom: 0px;
}
.home-container43 {
  flex: 1;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-contact {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-text55 {
  color: #201a1e;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text56 {
  color: #201a1e;
}
.home-container44 {
  flex: 1;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-socials {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text57 {
  color: #201a1e;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon19 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.home-icon21 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.home-icon23 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-separator1 {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  /* margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits); */
  background-color: #201a1e;
}
.home-text58 {
  color: #201a1e;
  align-self: center;
  font-family: Gilda Display;
  font-size: 11px;
}
@media(max-width: 991px) {
  .home-container01{
    height: 52px;
  }
  .home-desktop-menu {
    /* margin-top: var(--dl-space-space-halfunit); */
    align-items: center;
    /* margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits); */
    /* margin-bottom: var(--dl-space-space-halfunit); */
    justify-content: center;
    /* width: 400; */
  }
  .main_logo{
    width: auto;
    height: 52px;
  }
  .home-nav{
    font-size: 2.2vw;
  }
  .home-login {
    border-style: solid;
  }
  .home-register {
    border-style: solid;
  }
  .home-btn-group{
    width: 170px;
  }
  .home-login1 {
    border-style: solid;
  }
  .home-register1 {
    border-style: solid;
  }
  .home-hero {
    width: auto;
  }
  .home-text08 {
    color: #201a1e;
  }
  .home-text09 {
    text-align: center;
  }
  .home-text11 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-text35 {
    text-align: center;
  }
  .home-container20 {
    /* padding: var(--dl-space-space-oneandhalfunits); */
  }
  .home-container21 {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .home-container22 {
    width: auto;
  }
  .home-container23 {
    width: auto;
  }
  .home-container24 {
    width: auto;
  }
  .home-container25 {
    width: auto;
    height: auto;
  }
  .home-container26 {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .home-container27 {
    width: auto;
  }
  .home-container28 {
    width: auto;
  }
  .home-container29 {
    width: auto;
  }
  .home-container30 {
    width: auto;
    height: auto;
  }
  .home-container31 {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .home-container32 {
    width: auto;
  }
  .home-container33 {
    width: auto;
  }
  .home-container34 {
    width: auto;
  }
  .home-container35 {
    width: auto;
    height: auto;
  }
  .home-container36 {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  .home-container37 {
    width: auto;
  }
  .home-container38 {
    width: auto;
  }
  .home-container39 {
    width: auto;
  }
  .home-container40 {
    width: auto;
    height: auto;
  }
  .home-footer {
    /* padding: 0px; */
    flex-direction: column;
  }
  .home-container42 {
    width: 33%;
  }
  .home-text58 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-desktop-menu {
    display: none;
  }
  .home-link01 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link02 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link03 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link04 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container05 {
    grid-template-columns: 1fr;
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container06 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container07 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line1 {
    border-color: #201a1e;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container09 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text14 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text16 {
    text-align: left;
  }
  .home-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container10 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line2 {
    border-color: #201a1e;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line3 {
    border-color: #201a1e;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container12 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text19 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text21 {
    text-align: left;
  }
  .home-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container13 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line5 {
    border-color: #201a1e;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container15 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text24 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text26 {
    text-align: left;
  }
  .home-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container16 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container18 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text29 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text31 {
    text-align: left;
  }
  .home-container20 {
    align-self: center;
    grid-template-columns: 1fr;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container41 {
    align-items: center;
    flex-direction: column;
    height: 170px;
  }
  .home-container42{
    width: 33%;
    height: 40px;
  }
  .home-text54{
    font-size: 21px;
  }
  .home-container43 {
    /* margin-top: var(--dl-space-space-oneandhalfunits); */
    align-items: center;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container44 {
    /* margin-top: var(--dl-space-space-oneandhalfunits); */
    align-items: center;
    margin-bottom: 0px;
  }
  .home-text57{
    margin-bottom: 10px;
  }
  .home-text58 {
    padding: 10px 0 0 0;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-button {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container06 {
    padding-left: 0px;
  }
  .home-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text14 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container12 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text19 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text24 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container18 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text29 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container41 {
    align-items: center;
    flex-direction: column;
    height: 170px;
  }
  .home-container42{
    width: 33%;
    height: 40px;
  }
  .home-text54{
    font-size: 21px;
  }
  .home-container43 {
    /* margin-top: var(--dl-space-space-oneandhalfunits); */
    align-items: center;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container44 {
    /* margin-top: var(--dl-space-space-oneandhalfunits); */
    align-items: center;
    margin-bottom: 0px;
  }
  .home-text57{
    margin-bottom: 10px;
  }
  .home-text58 {
    padding: 10px 0 0 0;
    text-align: center;
  }
}

@media(max-width: 1280px){
  .home-btn-group{
    width: 170px;
  }
}
