
.main-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 90vh;
}

.main-part1 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5em;
  width: 80%;
  margin: 30px auto 0 auto;
}

.part1-content {
    height: 30px;
}

.part1-content select{
    height: 100%;
    border-radius: 5px;
    padding: 0 10px;
}

.main-part2 {
  /* border: 1px solid black; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  /* border: 1px solid red; */
  height: 40px;
  width: 80vw;
}

.time_head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  /* border: 1px solid red; */
  height: 40px;
  width: 80vw;
}

.part2-content {
  /* border: 1px solid blue; */
  width: 80vw;
}

.searchright input{
    border-radius: 5px;
}

.part2-content table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.part2-content th,
td {
  border: 1px solid;
  height: 3rem;
  padding-left: 8px;
}

.part3-content {
  /* border: 1px solid blue; */
  width: 80vw;
}

.part3-content table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

.part3-content th,
td {
  border: 1px solid;
  height: 3rem;
  padding-left: 8px;
}


.main-part1 table,span{
    color: green;
    font-size: 30px;
}

#idsearch{
    height: 28px;
    padding: 0 10px;
}

.comman_btn{
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  background-color: #7045f7;
  color:white;
  margin: 10px;
}

.button1 {
  
}

.button2 {
  background-color: rgb(142 100 169);
  color: #ddd;
}

.button2:hover {
  background-color: rgb(127, 72, 162);
}

.tcol1 {
  width: 15%;
}
.tcol2 {
  width: 23%;
}
.tcol3 {
  width: 25%;
}
.tcol4 {
  width: 15%;
}
.tcol5 {
}
.tcol6 {
  width: 10%;
}
.ttcol1{
  width: 12%;
}
.ttcol{
  width: 11%;
}

.ctcol1{
  width: 15%;
}
.ctcol2{
  width: 23%;
}

.pagination {
  margin: 20px;
}

.bfield{
  margin-top: 20px;
}

.pagination button {
  background-color: #eee;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #0069d9;
}




.modal3 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content3 {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; */
  }
  
  .popup_title3{
    text-align: center;
    margin: 26px;
    position: relative;
    font-weight: 300;
    font-size: 38px;
  }
  
  .popup_body3{
    /* max-width: 275px; */
    padding: 0 10px 10px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 35%; */
  }
  
  .close3 {
    margin: 0 5px;
    color: #8f8f8f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup_form3{
    display: flex;
    flex-direction: column;
  
  }
  
  
  .popup3{
    max-width: 600px;
    border-radius: 5px;
    width: 100%;
    background-color: #c1bebe;
    height: 580px;
  }

  .popup_inst{
    border: 1px solid ;
    margin: 5px 20px;
    height: 13rem;
    padding: 5px 10px;
  }

  .popup_inst h2{
    margin-bottom: 6px;
  }
  
.popup_inst ul{
  list-style: initial;
  display: block;
  padding-left: 20px; 
}


/* Camera Capture */
.capture-window {
  background-color: rgba(0, 0, 0, 0.7);
  width: 270px;
  height: 200px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; */
}

#video1 {
  /* display: block; */
  width: 100%;
  object-fit: cover;
}

#video {
  display: block;
  width: 100%;
  object-fit: cover;
}

#canvas1 {
  /* display: none; */
  width: 100%;
  object-fit: cover;
}

#canvas {
  display: none;
  width: 100%;
  /* width: 270px;
  height: 200px; */
  object-fit: cover;
}

#capture-btn {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

#retake-btn {
  display: none;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.takebtn{
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

#save-btn {
  visibility: hidden;
  padding: 10px 20px;
  position: relative;
  left: 35%;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}



.modal4 {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content4 {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; */
}

.popup_title4{
  text-align: center;
  margin: 26px;
  position: relative;
  font-weight: 300;
  font-size: 32px;
}

.popup_body4{
  max-width: 350px;
  padding: 0 10px 10px;
  margin: auto;
}

.close4 {
  margin: 0 5px;
  color: #8f8f8f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup_form4{
  display: flex;
  flex-direction: column;

}

.popup4{
  max-width: 400px;
  border-radius: 5px;
  width: 100%;
  background-color: #c1bebe;
  height: 360px;
}

.home-container41{
  display: none;
}