{% extends "testapp/base.html" %}
{% load static %}

{% block title %}
<title>Dashboard | FRAS</title>
{% endblock %}

{% block head %}
{% comment %} Any script or css sheet will be added {% endcomment %}
<link href="{% static 'testapp/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- navbar -->
<header data-thq="thq-navbar" class="home-navbar-interactive">
  <div class="home-container01">
    <a href="{% url 'testapp:home' %}"><img src="../../static/testapp/images/header-logo.png" alt="logo"
        class="main_logo" /></a>
  </div>

    <div data-thq="thq-navbar-nav" data-role="Nav" class="home-desktop-menu">
      <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="home-nav0">
        <a href="{% url 'testapp:dashboard' %}" class="home-link">Dashboard</a>
        <a href="{% url 'testapp:students' %}" class="home-link">Student</a>
        <a href="{% url 'testapp:teachers' %}" class="home-link">Teacher</a>
        <a href="{% url 'testapp:classes' %}" class="home-link">Schedule</a>
        <a href="{% url 'testapp:cameras' %}" class="home-link">Camera</a>
        <!-- <a href="#" class="home-link">Contact</a> -->
      </nav>
    </div>

  <!-- profile-section  -->
  <div class="profile">
    <ul class="dropdown">
      <ul>
        <a href="">
          <img src="../../static/testapp/images/profile-pic.jpg" alt="Profile Picture">
        </a>
        <a href="">{{ UserName }}</a>
      </ul>
      <ul class="dropdown-menu">
        <li><a href="#" onclick="showprofile()">Profile</a></li>
        <li><a href="{% url 'testapp:dashboard' %}">Dashboard</a></li>
        <li><a href="#">Need Help?</a></li>
        <li>
          <form method="post" action="{% url 'testapp:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
      </li>
  </div>

  <div id="profile-popup" class="modal">
    <div class="modal-content" id="content">
      <div class="profile-popup">
        <span class="close" id="" onclick="closeProfile()">&times;</span>
        <div class="popup_title">
          Profile
        </div>
        <div class="popup_body">
          <form class="popup_form" method="post" action="{% url 'testapp:update_profile' %}">
            {% csrf_token %}
            <div class="in_div">
              <label for="department" class="input_label">Department</label>
              <select name="department" id="department" disabled class="in_field">
                <option value="cse">Computer science and engineering</option>
              </select>
            </div>

            <div class="in_div">
              <label for="name" class="input_label">Name:</label>
              <input type="text" id="name" name="name" class="in_field" value="{{ UserName }}" disabled>
            </div>

            <div class="in_div">
              <label for="email" class="input_label">Email:</label>
              <input type="email" id="email" name="email" class="in_field" value="{{ UserMail }}" disabled>
            </div>

            <div class="in_div">
              <label for="old-password" class="input_label">Old Password:</label>
              <input type="password" id="old-password" name="old-password" class="in_field" required>
            </div>

            <div class="in_div">
              <label for="new-password" class="input_label">New Password:</label>
              <input type="password" id="new-password" name="new-password" class="in_field" required>
            </div>

            <div class="in_div">
              <label for="confirm-password" class="input_label">Confirm Password:</label>
              <input type="password" id="confirm-password" name="confirm-password" class="in_field" required
                onpointerout="handleChange()">
            </div>

            <input type="submit" id="update-btn" value="Update" class="update_btn" style="display: none;">

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- burger button -->
  <div data-thq="thq-burger-menu" class="home-burger-menu">
    <svg viewBox="0 0 1024 1024" class="home-icon">
      <path
        d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
      </path>
    </svg>
  </div>

  <!-- mobile-nav -->
  <div data-thq="thq-mobile-menu" class="home-mobile-menu">
    <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
      <div class="home-container02">
        <a href="{% url 'testapp:home' %}"><img src="../../static/testapp/images/header-logo.png" alt="logo"
            class="main_logo" /></a>
        <div data-thq="thq-close-menu" class="home-menu-close">
          <svg viewBox="0 0 1024 1024" class="home-icon02">
            <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
            </path>
          </svg>
        </div>
      </div>

      <nav data-thq="thq-mobile-menu-nav-links" data-role="Nav" class="home-nav2">
        <a href="{% url 'testapp:dashboard' %}" class="home-link1">Dashboard</a>
        <a href="{% url 'testapp:students' %}" class="home-link1">Student</a>
        <a href="{% url 'testapp:teachers' %}" class="home-link1">Teacher</a>
        <a href="{% url 'testapp:classes' %}" class="home-link1">Schedule</a>
        <a href="{% url 'testapp:cameras' %}" class="home-link1">Camera</a>
        <!-- <a href="#" class="home-link1">Contact</a> -->
      </nav>

    </div>
  </div>

  <!-- to activate the sections of navbar -->
  <script>
    const activePage = window.location.pathname;
    const navLinks = document.querySelectorAll("nav a")
    navLinks.forEach((link) => {
      const pathName = new URL(link.href).pathname;
      if (pathName === activePage) {
        link.classList.add("active");
      }
    });
  </script>
</header>
<div class="home-separator"></div>
{% block body %}

<!-- dashboard-content -->
<div class="adminrights-container">

  <div class="adminrights-testimonial">
    <div class="adminrights-container01">
      <h1 class="adminrights-text18">Glimpses</h1>
      <!-- glimpses -->
      <div class="adminrights-container16">
        <div class="adminrights-stat">
          <div id='calendar'></div>
        </div>

        <div class="adminrights-stats">

          <div id="" class="adminrights-stat1">
            <div id="maxAtt-cls"></div>
            <span class="adminrights-text23">Class-wise Attendance</span>
          </div>

          <div id="" class="adminrights-stat2">
            <div id="maxAtt-sub"></div>
            <span class="adminrights-text23">Subject-wise Attendance</span>
          </div>
        </div>
      </div>
    </div>

    {% if messages %}
    <div class="in_div">
      {% for message in messages %}
      <input type="text" id="alert" value="{{ message }}" style="display: none;">
      <script>
        msg = document.getElementById('alert').value;
        if (msg) {
          window.alert(msg);
        }
      </script>
      {% endfor %}
    </div>
    {% endif %}

    <div class="adminrights-separator"></div>
    <div class="adminrights-container17">
      <h1 class="adminrights-text18">Live</h1>
      <div class="adminrights-container18">
        <div class="live">
          <video style="transform: scaleX(-1);" id="player" width="700" height="370" autoplay></video>
          <h3 style="width: fit-content; margin: 0 auto;">Class: 2nd Year</h3>
        </div>

        <div class="live">
          <video style="transform: scaleX(-1);" id="player" width="700" height="370" autoplay></video>
          <h3 style="width: fit-content; margin: 0 auto;">Class: 3rd Year</h3>
        </div>

        <div class="live">
          <video style="transform: scaleX(-1);" id="player" width="700" height="370" autoplay></video>
          <h3 style="width: fit-content; margin: 0 auto;">Class: 4th Year</h3>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}

{% endblock %}