{% extends 'testapp/base.html' %}
{% block content %}

<div class="login-container">
  <header data-thq="thq-navbar" class="home-navbar-interactive">
    <div class="home-container01">
      <a href="{% url 'testapp:home' %}" class="home-navlink">FRAS</a>
    </div>
    <div
      data-thq="thq-navbar-nav"
      data-role="Nav"
      class="home-desktop-menu"
    >
      <nav
        data-thq="thq-navbar-nav-links"
        data-role="Nav"
        class="home-nav"
      >
      </nav>
    </div>
    <div data-thq="thq-navbar-btn-group" class="home-btn-group">
      <a href="{% url 'testapp:register' %}" class="home-register button">Register</a>
    </div>
  </header>
  <div class="home-separator"></div>
  <div class="login-container01">
    <div class="login-container02">
      <div class="login-container03">
        <h1 class="login-text">Log In</h1>
      </div>
    </div>
    <div class="login-container04">
      <div class="login-container05">
        <form method="post" class="login-form">
          {% csrf_token %}
          <div class="login-container06">
            <div class="login-container07">
              <input
                type="text"
                required=""
                placeholder="Username"
                class="login-textinput input"
                name="username"
              />
            </div>
            <div class="login-container08">
              <input
                type="password"
                required=""
                placeholder="Password"
                class="login-textinput1 input"
                name="password"
              />
            </div>
            {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="login-container09">
            <button type="submit" class="login-button button">
              <span>
                <span>Log In</span>
                <br />
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer id="contact" class="home-footer">
  <div class="home-separator1"></div>
  <span class="home-text58">© 2023 FRAS, Made with 💕</span>
</footer>

{% endblock %}