{% extends 'testapp/base.html' %}
{% block content %}

<div class="register-container">
  <header data-thq="thq-navbar" class="home-navbar-interactive">
    <div class="home-container01">
      <a href="{% url 'testapp:home' %}" class="home-navlink">FRAS</a>
    </div>
    <div
      data-thq="thq-navbar-nav"
      data-role="Nav"
      class="home-desktop-menu"
    >
      <nav
        data-thq="thq-navbar-nav-links"
        data-role="Nav"
        class="home-nav"
      >
      </nav>
    </div>
    <div data-thq="thq-navbar-btn-group" class="home-btn-group">
      <a href='/testapp/login' class="home-login button">Login</a>
    </div>
  </header>
  <div class="home-separator"></div>
  <div class="register-container01">
    <div class="register-container02">
      <div class="register-container03">
        <h1 class="register-text">Registration</h1>
      </div>
    </div>
    <div class="register-container04">
      <div class="register-container05">
        <form class="register-form" method="post">
          {% csrf_token %}
          <div class="register-container06">
<!--            <div class="register-container07">-->
<!--              <input-->
<!--                type="text"-->
<!--                required="required"-->
<!--                placeholder="College Name"-->
<!--                class="register-textinput input"-->
<!--                name="clg_name"-->
<!--              />-->
<!--            </div>-->
            <div class="register-container08">
              <select required="required" name="dept">
                <option disabled selected value="">Choose Department</option >
                <option>Computer Science and Engineering</option>
                <option>Electrical Engineering</option>
              </select>
<!--                    <div-->
<!--                      data-thq="thq-dropdown"-->
<!--                      class="register-thq-dropdown list-item"-->
<!--                    >-->
<!--                      <div-->
<!--                        data-thq="thq-dropdown-toggle"-->
<!--                        class="register-dropdown-toggle"-->
<!--                      >-->
<!--                        <span class="register-text1">Choose Department</span>-->
<!--                        <div-->
<!--                          data-thq="thq-dropdown-arrow"-->
<!--                          class="register-dropdown-arrow"-->
<!--                        >-->
<!--                          <svg viewBox="0 0 1024 1024" class="register-icon">-->
<!--                            <path d="M426 726v-428l214 214z"></path>-->
<!--                          </svg>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <ul-->
<!--                        data-thq="thq-dropdown-list"-->
<!--                        class="register-dropdown-list"-->
<!--                      >-->
<!--                        <li-->
<!--                          data-thq="thq-dropdown"-->
<!--                          class="register-dropdown list-item"-->
<!--                        >-->
<!--                          <div-->
<!--                            data-thq="thq-dropdown-toggle"-->
<!--                            class="register-dropdown-toggle1"-->
<!--                          >-->
<!--                            <span class="register-text2">-->
<!--                              Computer Science &amp; Engineering-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </li>-->
<!--                        <li-->
<!--                          data-thq="thq-dropdown"-->
<!--                          class="register-dropdown1 list-item"-->
<!--                        >-->
<!--                          <div-->
<!--                            data-thq="thq-dropdown-toggle"-->
<!--                            class="register-dropdown-toggle2"-->
<!--                          >-->
<!--                            <span class="register-text3">-->
<!--                              Electrical Engineering-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
            </div>
            <div class="register-container09">
              <input
                type="text"
                required="required"
                placeholder="Admin Name"
                class="register-textinput1 input"
                name="username"
              />
            </div>
            <div class="register-container10">
              <input
                type="email"
                required="required"
                placeholder="Admin Mail"
                class="register-textinput2 input"
                name="email"
              />
            </div>
            <div class="register-container11">
              <input
                type="password"
                required="required"
                placeholder="Create Password"
                class="register-input input"
                name="password"
              />
            </div>
            <div class="register-container12">
              <input
                type="password"
                required="required"
                placeholder="Confirm Password"
                class="register-textinput3 input"
                name="confirm_password"
              />
            </div>
            {% if error_msg %} {{error_msg}} {% endif %}
            {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="register-container13">
            <button type="submit" class="register-button button">
              <span>
                <span>Register as an Admin</span>
                <br />
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer id="contact" class="home-footer">
  <div class="home-separator1"></div>
  <span class="home-text58">© 2023 FRAS, Made with 💕</span>
</footer>

{% endblock %}