
{% extends "testapp/base.html" %}
{% load static %}

{% block title %}
<title>Students | FRAS</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'testapp/css/student.css' %}">
{% endblock  %}

{% block content %}
  <div class="home-container">
    <header data-thq="thq-navbar" class="home-navbar-interactive">
      <div class="home-container01">
        <a href="{% url 'testapp:home' %}"><img src="../../static/testapp/images/header-logo.png" alt="logo" class="main_logo" /></a>
      </div>
    
      <div data-thq="thq-navbar-nav" data-role="Nav" class="home-desktop-menu">
        <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="home-nav">
          <a href="{% url 'testapp:students' %}" class="home-link">Student</a>
          <a href="{% url 'testapp:teachers' %}" class="home-link">Teacher</a>
          <a href="{% url 'testapp:classes' %}" class="home-link">Schedule</a>
          <a href="{% url 'testapp:cameras' %}" class="home-link">Camera</a>
          <!-- <a href="#" class="home-link">Contact</a> -->
        </nav>
      </div>
    
      <div class="profile">
        <ul>
          <li class="dropdown">
            <ul>
              <a href="#">
                <img src="../../static/testapp/images/profile-pic.jpg" alt="Profile Picture">
              </a>
              <a href="">UserName</a>
            </ul>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Need Help?</a></li>
              <li>
                <form method="post" action="{% url 'testapp:logout' %}">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
              <!-- <li><a href="{% url 'testapp:logout' %}">Logout</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
    
      <!-- burger button -->
      <div data-thq="thq-burger-menu" class="home-burger-menu">
        <svg viewBox="0 0 1024 1024" class="home-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
          </path>
        </svg>
      </div>
    
      <!-- mobile-nav -->
      <div data-thq="thq-mobile-menu" class="home-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
          <div class="home-container02">
            <!-- {% comment %} <a href="#" class="home-navlink1"> </a> {% endcomment %} -->
            <a href="{% url 'testapp:home' %}"><img src="../../static/testapp/images/header-logo.png" alt="logo" class="main_logo" /></a>
            <div data-thq="thq-close-menu" class="home-menu-close">
              <svg viewBox="0 0 1024 1024" class="home-icon02">
                <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
                </path>
              </svg>
            </div>
          </div>
    
          <nav data-thq="thq-mobile-menu-nav-links" data-role="Nav" class="home-nav2">
            <a href="#" class="home-link1">Student</a>
            <a href="#" class="home-link1">Teacher</a>
            <a href="#" class="home-link1">Schedule</a>
            <a href="#" class="home-link1">Camera</a>
            <!-- <a href="#" class="home-link1">Contact</a> -->
          </nav>
    
        </div>
      </div>
    
      <script>
        const activePage = window.location.pathname;
        const navLinks = document.querySelectorAll("nav a")
        navLinks.forEach((link) => {
          const pathName = new URL(link.href).pathname;
          if (pathName === activePage) {
            link.classList.add("active");
          }
        });
      </script>
    </header>
    
    <div class="main-container">
      <div class="main-part1">
          <div class="part1-content">
            <select name="department" id="" disabled>
              <option value="cse">Computer Science and Engineering</option>
            </select>
          </div>
          <div class="part1-content">
            <select class="" id="" name="year">
              <option value="1">First year</option>
              <option value="2">Second year</option>
              <option value="3">Third year</option>
              <option value="4">Final year</option>
            </select>
          </div>
          <div class="part1-content">
            <label for="fileInput" class="custom-file-upload" title="Students details sheet">
              <!-- Custom button or icon goes here -->
              Upload Excel File
          </label>
          <input id="fileInput" type="file" accept=".xlsx, .xls, .csv" onchange="handleFileSelect(event)"
              style="display: none;">
          </div>
      </div>
      <div class="main-part2">
        <div class="btn-cont">
          <div class="tabletitle">
            <h2>
              Student Details
            </h2>
          </div>
          <div class="searchright">
            <input type="search" name="idsearch" id="idsearch" placeholder="Enroll Id">
            <button class="comman_btn button1" onclick="search()">Search</button>
            <button class="comman_btn button2" onclick="sort()" title="sort based on not register">Sort</button>
          </div>
        </div>
        <div class="part2-content">
          <table>
            <thead>
              <tr>
                <th class="tcol1">Enrollment ID</th>
                <th class="tcol2">Name</th>
                <th class="tcol3">Email</th>
                <th class="tcol4">Mob no.</th>
                <th class="tcol5">Attendance</th>
                <th class="tcol6">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>1</td>
                  <td>John</td>
                  <td>john@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>

              </tr>
              <tr>
                  <td>2</td>
                  <td>Jane</td>
                  <td>jane@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Bob</td>
                  <td>bob@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td><button class="comman_btn button2" onclick="sregister()">Register</button></td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>Alice</td>
                  <td>alice@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>David</td>
                  <td>david@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td><span>&#9745</span></td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>Susan</td>
                  <td>susan@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td><span>&#9745</span></td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>Mike</td>
                  <td>mike@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td><button class="comman_btn button2" onclick="sregister()">Register</button></td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>Lisa</td>
                  <td>lisa@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>Tom</td>
                  <td>tom@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>Sara</td>
                  <td>sara@example.com</td>
                  <td>12345465</td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
          </table>
        </div>
        <div class="pagination">
          <button id="prev-page-btn">Prev</button>
          <span id="page-info"></span>
          <button id="next-page-btn">Next</button>
      </div>
      </div>
    </div>

    <div id="myModal3" class="modal3">
      <div class="modal-content3" id="content3">
        <div class="popup3">
          <span class="close3" id="cbtn3">&times;</span>
          <div class="popup_title3">
            Register Student Face
          </div>
          <div class="popup_body3">
            <div class="capture-window">
              <div id="video1"><video id="video"></video></div>
              <div id="canvas1"><canvas id="canvas"></canvas></div>
              
            </div>
            <div class="takebtn">
              <button id="capture-btn">Capture</button>
              <button id="retake-btn">Retake</button>
            </div>
          </div>
          <button id="save-btn">Save</button>
          <div class="popup_inst">
            <h2>Instructions:-</h2>
            <ul>
              <li>Ensure that you have a stable internet connection and a webcam or a front-facing camera on your device.</li>
              <li>Position student face in center of designated area on the screen and hold still while the camera captures several images of your face from different angles.</li>
              <li>Once you have captured the required images, the system will analyze and process them to create a digital representation of your face. This representation will be used to match your face with the images captured during attendance recording.</li>
  
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <script src="{% static 'testapp/js/popcam.js' %}"></script>
  {% endblock %}