{% extends "testapp/dashboard.html" %}
{% load static %}

{% block title %}
<title>Students | FRAS</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'testapp/css/student.css' %}">
{% endblock %}

{% block body %}

<div class="main-container">
  <div class="main-part1">
    <div class="part1-content">
      <select name="department" id="" disabled>
        <option value="cse">Computer Science and Engineering</option>
      </select>
    </div>

    <div class="part1-content">
      <select class="" id="class-dropdown" name="class" onchange="changeDetails()">
        <option value="" disabled selected>Select Class</option>
        <option value="2">Second year</option>
        <option value="3">Third year</option>
        <option value="4">Final year</option>
      </select>
    </div>

    <div class="part1-content">
      <label for="fileInput" class="custom-file-upload" title="Student details sheet">
        Upload Excel File
      </label>
      <input id="fileInput" type="file" accept=".xlsx, .xls, .csv" onchange="uploadStudents(event)"
        style="display: none;">
    </div>
  </div>

  <div class="main-part2">
    <div class="btn-cont">
      <div class="tabletitle">
        <h2>
          <select class="" id="all-details" name="details" onchange="changeDetails()" style="background-color: transparent; width: 12rem;">
            <option value="0" selected>Student Details</option>
            <option value="1">Attendance Details</option>
          </select>
        </h2>
      </div>

      <div class="searchright">
        <input type="search" name="searchId" id="searchId" placeholder="Search Enrollment ID">
        <button class="common_btn button1" id="sortBtn" title="sort based on status">Sort</button>
      </div>
    </div>

    <div class="part2-content">
      <table id="students-table">
        <thead>
          <tr>
            <th class="tcol1">Enrollment ID</th>
            <th class="tcol2">Name</th>
            <th class="tcol3">Email</th>
            <th class="tcol4">Mobile</th>
            <th class="tcol6">Status</th>
          </tr>
        </thead>
        <tbody id='student-list'></tbody>
      </table>
    </div>

    <div id="pagination" class="pagination">
      <span class="page-label"></span>
      <div class="page-btn" id="page-btn">
        <button type="button" class="common_btn button1" id="prev-link" style="display:none;">Previous</button>
        <button type="button" class="common_btn button1" id="next-link" style="display:none;">Next</button>
      </div>
    </div>
  </div>

  <div class="export_train">
    <button id="export-btn" class="common_btn button2" onclick="downloadExcel()">Export to Excel</button>
    <button id="train-btn" class="common_btn button2" onclick="trainModel()" title="Please proceed to train the model, after registering all students' faces.">Train Model</button>
  </div>
</div>

<div id="myModal3" class="modal3">
  <div class="modal-content3" id="content3">
    <div class="popup3">
      <span class="close3" id="cbtn3">&times;</span>
      <div class="popup_title3">
        Register Student Face
      </div>
      <div class="popup_body3">
        <div id="image-container"></div>

        <div class="capture-window">
          <div id="buffering"></div>
          <div id="video1">
            <video style="transform: scaleX(-1);" id="video"></video>
          </div>
          <div id="canvas1">
            <canvas style="transform: scaleX(-1);" id="canvas"></canvas>
          </div>
        </div>

        <div class="takebtn">
          <button id="capture-btn">Capture</button>
          <button id="retake-btn">Retake</button>
          <button id="save-btn">Save</button>
          <button id="next-btn">Next</button>
        </div>

        <input type="file" name="" id="" accept="image/*" onchange="uploadGrid(event)">
      </div>


      <div class="popup_inst">
        <h2>Instructions:-</h2>
        <ul>
          <li>Ensure that you have a stable internet connection and a webcam or a front-facing camera on your device.
          </li>
          <li>Position student face in center of designated area on the screen and hold still while the camera captures
            several images of your face from different angles.</li>
          <li>Once you have captured the required images, the system will analyze and process them to create a digital
            representation of your face. This representation will be used to match your face with the images captured
            during attendance recording.</li>

        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script src="{% static 'testapp/js/student.js' %}"></script>
{% endblock %}