{% extends "testapp/dashboard.html" %} {% load static %} {% block title %}
<title>Teachers | FRAS</title>

{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'testapp/css/student.css' %}" />

{% endblock %} {% block body %}
<div class="main-container">
  <div class="main-part1">
    <div class="part1-content">
      <select name="department" id="" disabled>
        <option value="cse">Computer Science and Engineering</option>
      </select>
    </div>

    <div class="part1-content">
      <label for="fileInput" class="custom-file-upload" title="Teacher details sheet">
        Upload Excel File
      </label>
      <input id="fileInput" type="file" accept=".xlsx, .xls, .csv" onchange="uploadTeachers(event)"
        style="display: none" />
    </div>
  </div>
  <div class="main-part2">
    <div class="btn-cont" style="justify-content: center;">
      <div class="tabletitle">
        <h1>Teacher Details</h1>
      </div>
    </div>
    <div class="part2-content">
      <table id="teachers-table">
        <thead>
          <tr>
            <th class="tcol1">Teacher ID</th>
            <th class="tcol2">Name</th>
            <th class="tcol3">Email</th>
            <th class="tcol4">Mobile</th>
            <th class="tcol5">Subjects</th>
          </tr>
        </thead>
        <tbody id='teacher-list'>
        {% for teacher in teachers %}
          <tr>
            <td>
              {{ teacher.1 }}
            </td>
            <td>
              {{ teacher.0 }}
            </td>
            <td>
              {{ teacher.2 }}
            </td>
            <td>
              {{ teacher.3 }}
            </td>
            <td>
              {{ teacher.4 }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function uploadTeachers(event) {
    const files = event.target.files;
    const file = files[0];

    if (
      file.type === "application/vnd.ms-excel" ||
      file.type === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet") {

      var formData = new FormData();
      formData.append('teacherDetails', file);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '../teachers/');
      xhr.setRequestHeader('X-CSRFToken', getCSRFToken());

      xhr.onreadystatechange = function () {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          var response = JSON.parse(this.responseText);

          if (response.success) {
            alert(response.message);
          } else {
            alert(response.message);
          }
          location.reload();
        }
      };

      xhr.send(formData);
    } else {
      alert("Please select an Excel file");
    }
  }

  function getCSRFToken() {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // The CSRF token cookie name may vary depending on the server-side framework
        if (cookie.substring(0, 10) === 'csrftoken=') {
          cookieValue = decodeURIComponent(cookie.substring(10));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock %}